::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #57be79;
    border-radius: 40px;
  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .flex-2{
    display: flex;
    flex: 2;
  }

  .card{
    @apply hover:opacity-90 cursor-pointer
  }